.Reduction {
  background-image: url("../assets/Desktop\ -\ 1\ \(8\).png");
  background-repeat: no-repeat;
}
.Catchers {
  background-image: url("../assets/Desktop\ -\ 1\ \(9\).png");
  background-repeat: no-repeat;
}
